<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css-nas/reseat.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css-nas/style.css')}}">
    <title>Table</title>
</head>

<body>

   

    <h1>Table View</h1>
    <hr>
    <table>
        <tr id="header">
            <th>No</th>
            <th>Nama</th>
            <th>Nim</th>
            <th>Jurusan</th>
            <th>Action</th>
            <th></th>
        </tr>
        {% for no,i in data %} 
        <tr>
            <td>{{no}}</td>
            <td>{{i.name}}</td>
            <td>{{i.nim}}</td>
            <td>{{i.jurusan}}</td>
            <td class="btn"><a href="form-update/{{ i.id }}">Edit</a></td>
            <td class="btnn"><a href="delete/{{ i.id }}">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>