<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css-nas/update.css')}}">
    <title>update</title>
</head>

<body>

    <div class=" container ">
        <div class="contact-box ">
            <div class="left ">
                <div class="right ">
                    <h2>Form Update</h2>
                    <form action="/form-update" method="post">
                        <input type="text" class="field" placeholder="nama" value="{{data.name}}" name="name">
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="text" class="field" placeholder="nim" value="{{data.nim}}" name="nim">
                        <input type="text" class="field" placeholder="jurusan" value="{{data.jurusan}}" name="jurusan">
                        <button class="btn" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>